<h1 class="mb-4">クレジット</h1>

<ul class="list-group mb-4">
  <li class="list-group-item">書影画像の一部は、国立図書館が提供する書影APIを利用しています。</li>
  <li class="list-group-item">なお、クレジット表記が必要なもの以外は、原則記載しておりません。</li>
  <li class="list-group-item">画像およびデータの権利は各提供元に帰属します。</li>
</ul>
